# RINIR factory installation for Debian 13 amd64.
# WARNING: installation erases the first non-removable internal disk.

d-i debian-installer/locale string ru_RU.UTF-8
d-i keyboard-configuration/xkb-keymap select ru
d-i auto-install/enable boolean true
d-i debconf/priority select critical
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Moscow
d-i clock-setup/ntp boolean true

d-i netcfg/enable boolean false
d-i netcfg/get_hostname string rinir-factory
d-i netcfg/get_domain string local
d-i netcfg/wireless_wep string

d-i passwd/root-login boolean false
d-i passwd/make-user boolean false

d-i partman/early_command string /bin/rinir-select-install-disk
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

apt-cdrom-setup apt-setup/cdrom/set-first boolean false
d-i apt-setup/use_mirror boolean false
d-i apt-setup/non-free-firmware boolean true
tasksel tasksel/first multiselect standard
d-i pkgsel/include string ca-certificates curl openssl apache2-utils nginx lightdm openbox chromium unclutter systemd-resolved nftables
d-i pkgsel/upgrade select none
popularity-contest popularity-contest/participate boolean false

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string default

d-i preseed/late_command string \
  mkdir -p /target/opt/rinir-factory; \
  mkdir -p /target/var/lib/rinir-factory; \
  cp -a /cdrom/factory/. /target/opt/rinir-factory/; \
  chmod 0700 /target/opt/rinir-factory/provision.sh; \
  cp /cdrom/factory/factory-provision.service /target/etc/systemd/system/; \
  ln -s /etc/systemd/system/factory-provision.service \
    /target/etc/systemd/system/multi-user.target.wants/factory-provision.service; \
  touch /target/var/lib/rinir-factory/install.done

d-i finish-install/reboot_in_progress note
