set default=0
set timeout=10

insmod all_video
insmod gzio
insmod part_gpt
insmod part_msdos
insmod ext2

search --no-floppy --file --set=rinir_root /var/lib/rinir-factory/install.done
if [ -n "${rinir_root}" ]; then
    set timeout=30

    menuentry 'RINIR uzhe ustanovlen - zagruzit sistemu' {
        search --no-floppy --file --set=rinir_root /var/lib/rinir-factory/install.done
        set root="${rinir_root}"
        configfile /boot/grub/grub.cfg
    }

    menuentry 'VNIMANIE: polnostyu steret disk i pereustanovit RINIR' {
        linux /install.amd/vmlinuz auto=true priority=critical file=/cdrom/preseed.cfg rinir_force_reinstall=true --- quiet
        initrd /install.amd/initrd.gz
    }
else
    menuentry 'RINIR automatic factory installation' {
        linux /install.amd/vmlinuz auto=true priority=critical file=/cdrom/preseed.cfg --- quiet
        initrd /install.amd/initrd.gz
    }
fi
