set default=0
set timeout=10

insmod all_video
insmod gzio
insmod part_gpt
insmod part_msdos
insmod ext2

search --no-floppy --file --set=rinir_root /var/lib/rinir-factory/install.done
if [ -n "${rinir_root}" ]; then
    set root="${rinir_root}"
    configfile /boot/grub/grub.cfg
fi

menuentry 'RINIR automatic factory installation' {
    linux /install.amd/vmlinuz auto=true priority=critical --- quiet
    initrd /install.amd/initrd.gz
}
